#clock-container{
    background: url(./clock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 40vw;
    width: 40vw;
    border: 2px solid red;
    margin: auto;
    position: relative;
}

.hour,.min,.sec{
    position: absolute;
    /* background:black; */
    border-radius: 10px;
}
.hour{
    background: red;
   height: 20%; 
   width: 1.5%;
   top: 30%;
   left: 49.2%;
   /* display: none; */
   transform-origin: bottom;
   
}
.min{
    background:purple;
    height: 30%; 
    width: 1%;
    top: 20%;
    left: 49.5%;
    /* opacity: 0.6; */
    /* display: none; */
    transform-origin: bottom;
}
.sec{
    background:green;
    height: 35%; 
    width: 0.7%;
    top: 15%;
    left: 49.7%;
    /* opacity: 0.2; */
    transform-origin: bottom;
}
